<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header_footer.css"> 
    <link rel="stylesheet" href="/css/teaProductStyle.css">
    <link rel="stylesheet" href="/css/carruselStyle.css">
    <title>Yerbas - DigiCommerce</title>
</head>

<body>
    <%-include('./partials/header')%>
    <main>
        <%-include('./partials/carrusel')%>


        <section class="contenedor-productos">

            <h2 class="pDestacados">Destacados</h2>

            <section class="contenedor contenedor-p1">
                
                <%featuredAccessories.forEach(accessory => { %>
                        <div class="articulo">
                            <a href="/product/productDetail/<%=accessory.id%>" class="main-article">
                                <img src="/img/products/<%=accessory.image%>" alt="<%=accessory.name%>" class="accessory">
                                <p class="product"><%=accessory.name%></p>
                                <p class="price">
                                    <%if(!accessory.discount){%>
                                        <b>$<%=accessory.price%></b>
                                    <%}else{%>
                                        <b>$<%=accessory.price-accessory.price*(accessory.discount*0.01)%></b>
                                    <%}%>    
                                </p>
                             </a>
                                <div class="button-container">
                                    <button class="botonBuy">Agregar al carrito</button>
                                </div>
                        </div>
                <% }) %>
                

            </section>

            <h2 class="pOfertas">Ofertas</h2>

            <section class="contenedor contenedor-p2">

                <% discountAccessories.forEach(accessory => { %>
                        <div class="articulo">
                            <div class="discount-container">
                                <p class="discount">%<%=accessory.discount%></p>
                                <p>OFF</p>
                            </div>
                            <a href="/product/productDetail/<%=accessory.id%>" class="main-article">
                                <img src="/img/products/<%=accessory.image%>" alt="<%=accessory.name%>" class="accessory">
                                <p class="product"><%=accessory.name%></p>
                                <p class="price">
                                    <span>$<%=accessory.price%></span> / <b>$<%=accessory.price-accessory.price*(accessory.discount*0.01)%></b>
                                </p>
                             </a>
                                <div class="button-container">
                                    <button class="botonBuy">Agregar al carrito</button>
                                </div>
                        </div>
                <%})%>
                    

            </section>

            <h2 class="pOfertas">Todos</h2>
            <section class="contenedor contenedor-todos">

                <% accessories.forEach(accessory => { %>

                    <div class="articulo">
                        <a href="/product/productDetail/<%=accessory.id%>" class="main-article">
                            <img src="/img/products/<%=accessory.image%>" alt="<%=accessory.name%>" class="accessory">
                            <p class="product"><%=accessory.name%></p>
                            <p class="price">
                                <%if(!accessory.discount){%>
                                    <b>$<%=accessory.price%></b>
                                <%}else{%>
                                    <b>$<%=accessory.price-accessory.price*(accessory.discount*0.01)%></b>
                                <%}%>    
                            </p>
                         </a>
                            <div class="button-container">
                                <button class="botonBuy">Agregar al carrito</button>
                            </div>
                    </div>
                <%})%>
                    

            </section>

        </section>

        

    </main>


    <%-include('./partials/footer')%>
    

</body>

</html>