<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/create-modify.css">
    <title>Editá tu producto</title>
</head>



<body>
    <%-include('./partials/header')%>

    <main class="main">
            <div class="contenedor-titulo-h4">
                <h4 class="titulo-h4">Editá tu Producto</h4>
            </div>
            <section class="seccion-carga-producto">
                <div class="contenedor-imagen-producto">
                    <section class="image">
                        <img src="/img/pava.jpg" alt="producto" class="imagen-producto">
                    </section>
                    <section class="other-images">
                        <article>
                            <img src="/img/pava.jpg" alt="producto">
                        </article>
                        <article>
                            <img src="/img/pava.jpg" alt="producto">
                        </article>
                        <article>
                            <img src="/img/pava.jpg" alt="producto">
                        </article>
                        <article>
                            <img src="/img/pava.jpg" alt="producto">
                        </article>
                    </section>
                </div>

                <form action="/product/editProduct/<%=product.id%>?_method=PUT" method="POST" class="formulario" enctype="multipart/form-data">
            
                    <div class="contenedor-input">
                        <label class="label" for="nombre">Nombre del Producto</label>
                        <input class="campos" type="text" name="name" id="nombre" value="<%= product.name%>">
                    </div>

                    <div class="contenedor-input">
                        <label class="label" for="description">Descripción del producto</label>
                        <textarea name="description" class="campos textarea" id="description" cols="30" rows="4"><%=product.description%></textarea>
                    </div>
                    
                    <div class="contenedor-input">
                        <label class="label" for="imagenDelProducto">Foto del Producto</label>
                        <input class="campos campo-select" type="file" accept=".jpg, .png" placeholder="..." id="telefono" multiple name="image"></input>
                                      
                    </div>
                    
                    <div class="contenedor-input">
                        <label class="label" for="contraseña">Categoria del Producto</label>
                        <select class="campos campo-select" name="category">
                        
                        <option value="yerba">Yerba</option>
                        <option selected value="te" >Té</option>
                        <option value="accesorios">Accesorios</option>
                        </select>
                                       
                    </div>
                    
                    <div class="contenedor-precios">
                        <div class="contenedor-input">
                            <label class="label" for="precio">Precio del Producto</label>
                            <input class="campos" type="number" placeholder="..." id="precio" value=<%=product.price%> name="price"></input>
                        </div>
                        <div class="contenedor-input">
                            <label class="label" for="precio">Descuento</label>
                            <input class="campos" type="number" placeholder="..." id="precio" value=<%=product.discount%> name="discount"></input>
                        </div>
                    </div>
                    
                    <div class="contenedor-input">
                        <div class="button-container">
                            <button type="submit" value="" class="button">Guardar</button>
                        </div>
                    </div>
                        
                </form>
            </section>
            

    </main>


    <%-include('./partials/footer')%>
    

</body>

</html>