<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/loginForm.css">
    <link rel="stylesheet" href="/css/cartStyles.css">
    <title>Login Page</title>
</head>

<body>
    <div class="grilla-contenedora">
        <%-include('./partials/header')%>
        <main>
            <form action="" method="POST">
                
                <div class="box-datos">
                    <label for="email">Email:</label>
                    <input type="text" class="<%=(locals.errors)?'invalid':''%>" name="email" id="email" style="text-transform:uppercase"
                     value="<%=(locals.oldDataLogin)? oldDataLogin:''%>">
                     <% if(locals.errors && errors.email){%>
                        <p class="error">
                            <%=errors.email.msg%>
                        </p>
                    <%}%>
                        
                </div>
                <div class="box-datos">
                    <label for="password">Ingrese la contraseña:</label>
                    <input type="password" name="password" id="password" class="<%=(locals.errors)?'invalid':''%>">
                    <% if(locals.errors && errors.password){%>
                        <p class="error">
                            <%=errors.password.msg%>
                        </p>
                    <%}%>
                </div>
                <div class="botones">
                    <button type="submit">Ingresar</button>
                </div>
                <div class="checkbox">
                    <div class="option-cb">
                        <input type="checkbox" name="recordarme" value='checked' id="recordarme">Recordarme
                    </div>
                </div>
                <a class='a-forget' href="#">Olvidaste tus datos de acceso?</a>
            </form>
            
        </main>
        <%-include('./partials/footer')%>
    </div>

</body>

</html>