<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/30a937ae38.js" crossorigin="anonymous"></script>
    <title>Detalle de Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,100;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
    <%-include('./partials/header')%>
        <main>
        <div class="product-container">
            <div class="image-container">
                <section class="image">
                    <img src="/img/products/<%=product.images[0]%>" alt="producto">
                </section>
                <section class="other-images">
                    <article>
                        <img src="/img/pava.jpg" alt="producto">
                    </article>
                    <article>
                        <img src="/img/pava.jpg" alt="producto">
                    </article>
                    <article>
                        <img src="/img/pava.jpg" alt="producto">
                    </article>
                    <article>
                        <img src="/img/pava.jpg" alt="producto">
                    </article>
                </section>
            </div>
            <div class="description-container">
                <section class="main-section">
                    <h2><%= product.name %> </h2>
                    <h4>$<%= product.price %></h4>
                    <h3>XX cuotas de $$$$</h3>
                    <a href="#payment-methods">Ver más metodos de pago</a>
                </section>
                <section class="buttons">
                    <article class="form1">
                        <div class="type-quantity">
                            <label for="product-type">Tipo</label>
                            <br>
                            <select class="options" name="type" id="product-type">
                                <option value="a">Opción A</option>
                                <option value="b">Opción B</option>
                                <option value="c">Opción C</option>
                            </select>
                        </div>
                        <div class="type-quantity">
                            <label for="product-quantity">Cantidad</label>
                            <br>
                            <select class="options" name="type" id="product-type">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </article>
                    <article class="form2">
                        <button class="add" type="submit">Agregar al carrito</button>
                        <button class="buy" type="submit">Comprar ahora</button>
                    </article>
                </section>
                <section class="product-description">
                    <h3>Descripción</h3>
                    <p><%= product.description%></p>
                </section>
            </div>
            </div>
            <div class="related-products">
                <h3>Productos relacionados</h3>
                <div class="products">
                    <section class="other-product">
                        <img src="/img/pava.jpg">
                        <p class="product-name">Nombre del Producto</p>
                        <p class="price">$$$$$$</p>
                    </section>
                    <section class="other-product">
                        <img src="/img/pava.jpg">
                        <p class="product-name">Nombre del Producto</p>
                        <p class="price">$$$$$$</p>
                    </section>
                    <section class="other-product">
                        <img src="/img/pava.jpg">
                        <p class="product-name">Nombre del Producto</p>
                        <p class="price">$$$$$$</p>
                    </section>
                </div>
                

            </div>
        </main>

        <%-include('./partials/footer')%>

<script src="/scripts/carrusel.js"></script>
</body>

</html>