    <%- include('./partials/head') %>
    <title>Detalle de Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,100;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <!-- <link rel="stylesheet" href="/css/productDetailCarrousel.scss"> -->
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <!-- <div class="image-container">
                <img src="https://source.unsplash.com/ufFIweqSPd4/800x800" id="main">
                <div id="thumbnails">
                    <img src="https://source.unsplash.com/ufFIweqSPd4/800x800">
                    <img src="https://source.unsplash.com/O0uCm1WLnA0/800x800">
                    <img src="https://source.unsplash.com/pV5ckb2HEVk/800x800">
                    <img src="https://source.unsplash.com/j9QEFAQqaXc/800x800">
                    <img src="https://source.unsplash.com/EXkbaeN05lY/800x800">
                    <img src="https://source.unsplash.com/B2mq60Ksrsg/800x800">
                </div>
            </div> -->
            <div class="product-container">
                <div class="image-container">
                    <section class="image" id="principal-image-container">
                        <img src="/img/products/<%=product.images[0].file_name%>" id='principal' alt="producto">
                    </section>
                    <section class="other-images">
                        <% let bandera = true %>
                        <% product.images.forEach(img=>{ %>
                            <% if(!bandera){ %>
                                <article class="other-image-container">
                                    <img src="/img/products/<%=img.file_name%>" class="other-images" alt="producto">
                                </article>
                            <% } %>
                            <% if(bandera) { %>
                                <% bandera = false; %>
                            <% } %>
                            
                        <% }) %>
                        
                    </section>
                </div>
                <div class="description-container">
                    <section class="main-section">
                        <h2>
                            <%= product.name %>
                        </h2>
                        <h3>$<%= product.price %>
                        </h3>

                        <h4><%= product.discount? product.price*(1-product.discount/100):null%></h4>
                        <a href="#payment-methods">Ver más metodos de pago</a>
                    </section>
                    <section class="buttons">
                        <article class="form1">
                            <div class="type-quantity">
                                <p>Categoria: <%= product.productCategory.name %></p>
                            </div>
                            <div class="type-quantity">
                                <label for="product-quantity">Cantidad</label>
                                <br>
                                <select class="options" name="type" id="product-type">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </article>
                        <article class="form2">
                            <button class="add" type="submit">Agregar al carrito</button>
                            <button class="buy" type="submit">Comprar ahora</button>
                        </article>
                    </section>
                    <section class="product-description">
                        <h3>Descripción</h3>
                        <p>
                            <%= product.description%>
                        </p>
                    </section>
                </div>
            </div>
            <div class="related-products">
                <h3>Productos relacionados</h3>
                <div class="products">
                    <section class="other-product">
                        <img src="/img/pava.jpg">
                        <p class="product-name">Nombre del Producto</p>
                        <p class="price">$$$$$$</p>
                    </section>
                    <section class="other-product">
                        <img src="/img/pava.jpg">
                        <p class="product-name">Nombre del Producto</p>
                        <p class="price">$$$$$$</p>
                    </section>
                    <section class="other-product">
                        <img src="/img/pava.jpg">
                        <p class="product-name">Nombre del Producto</p>
                        <p class="price">$$$$$$</p>
                    </section>
                </div>


            </div>
        </main>

        <%- include('./partials/footer') %>

<script src="/scripts/carrusel.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>